<launch>

  <!-- Arguments -->
  <arg name="lang" default="en" />
  <arg name="frame" default="5" />
  <arg name="speech_channel" default="speech_recognition" />
  <!-- Params -->
  <param name="lang" value="$(arg lang)" />
  <param name="frame" type="int" value="$(arg frame)" />
  <param name="speech_channel" value="$(arg speech_channel)" />

  <!-- Start the nodes -->
  <node name="nemo_node" 
    pkg="nemo_asr"
    type="nemo_node.py" 
    output="screen"
    required="true" />
  <node name="listener" 
    pkg="nemo_asr"
    type="listener.py" 
    output="screen"
    required="true" />

</launch>