<launch>

  <!-- Arguments -->
  <arg name="speech_channel" default="speech_recognition" />
  <!-- Params -->
  <param name="speech_channel" value="$(arg speech_channel)" />

  <!-- Start the Joint Trajectory Action Server -->
  <node name="listener" 
    pkg="nemo_asr"
    type="listener.py" 
    output="screen"
    required="true" />
</launch>